In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("userDetail.csv", index_col=False)
df

   idx      name  password     address      phone         email
0    0  priyanka    123456  Deggendrof    1923874  pd@gmail.com
1    4       DRP    123456         PRD  213423423    mac@hj.com

In [22]:
df1 =pd.DataFrame([{ "idx":2,
        "name":"sd",
        "password":"sd",
        "address":"sdf",
        "phone": "sdf",
        "email": "sdf",}])
df1

   idx name password address phone email
0    2   sd       sd     sdf   sdf   sdf

In [23]:
df3 = pd.concat([df, df1])
df3

,idx,name,password,address,phone,email,password,address,phone,email
0,0,priyanka,123456.0,Deggendrof,1923874.0,pd@gmail.com,NaN,NaN,NaN,NaN
0,2,sd,NaN,NaN,NaN,NaN,sd,sdf,sdf,sdf

In [23]:
selected_df = df[(df.email == "mac@hj.com") & (df.password.values.astype('str')=="123456")]

In [24]:
selected_df

   idx name  password address      phone       email
1    4  DRP    123456     PRD  213423423  mac@hj.com